@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 232 10% 15%;
    --card: 0 0% 100%;
    --card-foreground: 232 10% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 232 10% 15%;
    --primary: 155 100% 43%;
    /* #00DC82 */
    --primary-foreground: 232 10% 15%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 155 100% 43%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 232 43% 7%;
    /* #020420 */
    --foreground: 0 0% 98%;
    --card: 232 40% 10%;
    /* Slightly lighter than background */
    --card-foreground: 0 0% 98%;
    --popover: 232 43% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 155 100% 43%;
    /* #00DC82 */
    --primary-foreground: 232 10% 15%;
    --secondary: 232 30% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 232 30% 15%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 232 30% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 30% 15%;
    --input: 232 30% 15%;
    --ring: 155 100% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .glass {
    @apply bg-background/80 backdrop-blur-sm border border-border/50;
  }
}